/* index */

.container {
    width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

body {
    font-family: Roboto;
}

.web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.studio {font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: black;
    line-height: 1.38;
    letter-spacing: 0.03em;
}

.header {
    box-shadow:  0 5px 5px -5px gray;
}

.header-nav {
    display: flex;
}

 .header-header {
    margin: 0px 93px 0px 0px; 
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-email {
     display: flex;
     align-items: center;
     gap: 10px;
}

.header-email:hover #header-link, .header-email:hover .header-post {
    fill: #2196F3;
}

.header-post {
    width: 12px;
    height: 16px;
    fill: #757575;
}

.header-post:hover {
    width: 12px;
    height: 16px;
    fill: #2196F3;
}

.header-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-number:hover .header-link, .header-number:hover .header-smartphone {
    fill: #2196F3;
}

.header-smartphone {
    width: 10px;
    height: 16px;
    fill: #757575;
}

.header-smartphone:hover {
    width: 10px;
    height: 16px;
    fill: #2196F3;
}

.header-smartphone:hover {
    width: 10px;
    height: 16px;
}


.header-adress {
    display: flex;
    margin-left: 300px;
    gap: 50px;
    align-items: center;
}  

#header-link {
font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: left;
color: #757575;
}


.header-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;    
}

.header-link:hover {
    color: #2196F3;
}

#header-link:hover {
    color: #2196F3;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.order-header {
    font-weight: 900;
    color: white;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
 
}

.order-button {
    font-weight: 700;
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    padding: 10px 32px 10px 32px;
    border: none;
    border-radius: 4%;
}

.decision-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    color: black;
    margin-bottom: 10px;
}

.decision-list {
    gap: 30px;
    display: flex;
    align-items: baseline;
}


.decision-anthen::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-repeat: repeat-x;
    margin-bottom: 30px;
    background-image: url(../images/antenna.png);
    background-position: center ;
    background-repeat: no-repeat;
}

.decision-clock::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-repeat: repeat-x;
    margin-bottom: 30px;
    background-image: url(../images/clock.png);
    background-position: center ;
    background-repeat: no-repeat;
}

.decision-rating::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-repeat: repeat-x;
    margin-bottom: 30px;
    background-image: url(../images/diagram.png);
    background-position: center ;
    background-repeat: no-repeat;
}

.decision-astronaut::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-repeat: repeat-x;
    margin-bottom: 30px;
    background-image: url(../images/astronaut.png);
    background-position: center ;
    background-repeat: no-repeat;
}

.decision-text {
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color: #757575;

}

.us-section {
    padding-bottom: 94px;
}

.us-header {
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: black;

}

.us-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.us-img {
    width: 370px;
    height: 294px;
}

.team-h3 {
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: black;
margin-bottom: 50px;
}

.team-h4 {
font-size: 16px;
font-weight: 500;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: black;
margin-top: 30px;
margin-bottom: 10px;
}

.team-text {
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: gray;

}

.team-img {
    width: 270px;
    height: 260px;

}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    padding-bottom: 30px;
    background-color: #ffffff;
    border-radius:  2%;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-link {
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
}

.team-link:hover {
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
}

.team-instagram {
    width: 20px;
height: 20px;
fill: #AFB1B8;
}

.team-twitter {
    width: 20px;
height: 20px;
fill: #AFB1B8;
}

.team-facebook {
    width: 20px;
height: 20px;
fill: #AFB1B8;
}

.team-linkedin {
    width: 20px;
height: 20px;
fill: #AFB1B8;
}

.team-icon:hover .team-link, .team-icon:hover .team-instagram, .team-icon:hover .team-twitter,
 .team-icon:hover .team-facebook, .team-icon:hover .team-linkedin {
    fill: white;
    background-color: #2196F3;
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    display: flex;
    justify-content: center;
    color: #212121;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 1.08px;
}

.clients-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.clients-item {
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.clients-item > svg {
    width: 106px;
height: 60px;
fill: #AFB1B8;
}

 .clients-item:hover {
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: 1px solid #2196F3;
} 


.clients-item:hover, .clients-item:hover .clients-ya-co {
    fill: #2196F3;
} 

.clients-item:hover, .clients-item:hover .clients-tagline-company {
    fill: #2196F3;
} 

.clients-item:hover, .clients-item:hover .clients-company {
    fill: #2196F3;
} 

.clients-item:hover, .clients-item:hover .clients-foster-peters {
    fill: #2196F3;
} 

.clients-item:hover, .clients-item:hover .clients-brand {
    fill: #2196F3;
} 

.clients-item:hover, .clients-item:hover .clients-tag-line {
    fill: #2196F3;
} 

.footer-flex {
    display: flex;
    gap: 70px;
}

.footer-link {
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color: white;

}

.footer-link2 {
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
background: #FFFFFF99;

}

#footer-link {
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color: white;
display: block;
margin-top: 20px;
}

.footer-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

.footer-item {
    margin-top: 9px;
}

.footer-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.footer-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
    line-height: 1.38;
    letter-spacing: 0.03em;
}



.join {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.join-title {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.42;
letter-spacing: 0.42px;
}

.join-icons {
    display: flex;
    gap: 10px; 
}

.join-icon {
    width: 44px;
    height: 44px;
}

.join-link {
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.10);
}

.join-link:hover {
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
}

.join-instagram {
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.join-twitter {
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.join-facebook {
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.join-linkedin {
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.join-icon:hover .join-link, .join-icon:hover .join-instagram, .join-icon:hover .join-twitter,
 .join-icon:hover .join-facebook, .join-icon:hover .join-linkedin {
    fill: white;
    background-color: #2196F3;
}


/* portfolio */

.adress-link {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
}

.adress-link:hover {
    
    color: #2196F3;
}


.choose-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4%;
}

.choose-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.choose-section {
    padding-top: 50px;
}

.choose-button:hover {
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.people-header {
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.03em;
text-align: left;
color: black;
margin-top: 24px;
margin-bottom: 4px;
}

.people-list {
    display: flex;
     flex-wrap: wrap; 
    gap: 25px;
}

.people-item {
    padding-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #EEE;
    flex-basis: calc(25% - 75px / 3);  
}

.people-item:hover {
    padding-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #EEE;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.people-text {
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color: gray;
}

.people-div {
    padding-left: 24px;
}

 .header {
    padding-top: 24px;
    padding-bottom: 25px;
}    

.order-section {
    padding-top: 200px;
    padding-bottom: 200px;
     background-image: linear-gradient(90deg, rgba(47,48,58,0.4) 52%, rgba(47,48,58,0.01) 100%),  url(../images/bg.webp); 
}

.decision-section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.footer {
 padding: 60px 0px 60px 0px;
    background-color:  #2F303A;
}

.decision-list {
    display: flex;
    justify-content: center;
}
 
 .people-section {
    padding-bottom: 94px; 
    padding-top: 56px;
} 







