.header {
    box-shadow:  0 5px 5px -5px $text-color;

    &__black {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color:  $accent-color;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

&__blue {font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: $title-color;
    line-height: 1.38;
    letter-spacing: 0.03em;
}


&__nav {
    display: flex;
}

 &__header {
    margin: 0px 93px 0px 0px; 
    padding-top: 20px;
}

&__list {
    @extend %column-flex;
    gap: 50px;
    position: relative;
    height: 80px;
    overflow: hidden;
}

&__studio, &__portfolio, &__contacts {
    @extend %navigation;
    @extend %column-flex;
    }

    &__studio:hover, &__portfolio:hover, &__contacts:hover {
        color: $accent-color;
    }


 &__studio::after {
    position: absolute;
    top: 76px;
    right: 234px;
    content: "";
    background-color: $accent-color;
    width: 47px;
    height: 4px;
    border-radius: 2px;
    transform: scale(0, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__item:nth-child(1):hover  &__studio::after {
    transform: scale(1);
}

&__portfolio::after {
    position: absolute;
    top: 76px;
    right: 112px;
    content: "";
    background-color: $accent-color;
    width: 75px;
    height: 4px;
    border-radius: 2px;
    transform: scale(0, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__item:nth-child(2):hover  &__portfolio::after  {
    transform: scale(1);
}

&__contacts::after {
    position: absolute;
    top: 76px;
    right: -1px;
    content: "";
    background-color: $accent-color;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    transform: scale(0,1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

&__item:nth-child(3):hover  &__contacts::after {
    transform: scale(1);
}

&__link:hover &__contact {
    color: $accent-color;
}

&__link:focus &__contact {
    color: $accent-color;
}

&__link:focus {
    outline: none;
}

&__email:hover &__post {
    fill: $accent-color;
}

&__email:focus &__post {
    fill: $accent-color;
    outline: none;
}

&__number:hover &__smartphone {
    fill: $accent-color;
}

&__number:focus &__smartphone {
    fill: $accent-color;
    outline: none;
}

 &__smartphone {
    width: 10px;
    height: 16px;
    fill: $text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

&__smartphone:hover {
    fill: $accent-color;
} 

&__post {
width: 16px;
height: 12px;
fill: $text-color;
transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__post:hover {
    fill: $accent-color;
} 

&__adress {
    @extend %column-flex;
    margin-left: auto;
    gap: 50px;
}  

&__link {
font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: $text-color;
@extend %column-flex;
gap: 10px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $text-color;
    @extend %column-flex;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__number {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $text-color;
    @extend %column-flex;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



&__email:hover {
    color: $accent-color;
}

&__email:focus {
    color: $accent-color;
}

&__number:hover {
    color: $accent-color;
}

&__number:focus {
    color: $accent-color;
}
}

