.decision {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding-top 650ms ease-out, padding-bottom 650ms ease-out;

    &:hover {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    &__header {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.03em;
        text-align: left;
        color: $title-color;
        margin-bottom: 10px;
        opacity: 0;
        transition: opacity 650ms ease-out;
    }
    
    &:hover &__header {
        opacity: 1;
    }
    
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-color;
        opacity: 0;
        transition: opacity 650ms ease-out;
    }
    
    &:hover &__text {
        opacity: 1;
    }
    
    &__list {
        display: flex;
        justify-content: center;
    }
    
    &__list {
        gap: 30px;
        display: flex;
        align-items: baseline;
    }
    
    
    &__anthen::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $team-background;
        display: block;
        background-repeat: repeat-x;
        margin-bottom: 30px;
        background-image: url(../images/antenna.png);
        background-position: center ;
        background-repeat: no-repeat;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 500ms ease-out , opacity 500ms linear;
    }
    
    &:hover &__anthen::before {
       transform: translateX(0);
       opacity: 1;
    }
    
    
    &__clock::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $team-background;
        display: block;
        background-repeat: repeat-x;
        margin-bottom: 30px;
        background-image: url(../images/clock.png);
        background-position: center ;
        background-repeat: no-repeat;
        transform: translateX(-200%);
        opacity: 0;
        transition: transform 600ms ease-out , opacity 600ms linear;
        z-index: -1;
    }
    
    &:hover &__clock::before {
        transform: translateX(0);
        opacity: 1;
     }
    
    &__rating::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $team-background;
        display: block;
        background-repeat: repeat-x;
        margin-bottom: 30px;
        background-image: url(../images/diagram.png);
        background-position: center ;
        background-repeat: no-repeat;
        transform: translateX(-300%);
        opacity: 0;
        transition: transform 700ms ease-out , opacity 700ms linear;
        z-index: -2;
    }
    
    &:hover &__rating::before {
        transform: translateX(0);
        opacity: 1;
     }
    
    &__astronaut::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $team-background;
        display: block;
        background-repeat: repeat-x;
        margin-bottom: 30px;
        background-image: url(../images/astronaut.png);
        background-position: center ;
        background-repeat: no-repeat;
        transform: translateX(-400%);
        opacity: 0;
        transition: transform 800ms ease-out , opacity 800ms linear;
        z-index: -3;
    }
    
    &:hover &__astronaut::before {
        transform: translateX(0);
        opacity: 1;
     }
}

